/* ini file css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.nav {
    background-color: rgb(2, 41, 99);
    overflow: auto;
    
}

.nav a {
    float: right;
    color: #ededed;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: #3660de;
    color: black;
  }
  
.nav a.active {
    color: white;
}

.nav .muka {
    border-radius: 50%;
    height: 47px;
    padding: 13px;
    width: 75;
    position: absolute;
    left: 5px  ;
    
}


